<!DOCTYPE html>
<%- include('../partials/head') %>

<body class="container">
    <%- include('../partials/header', {pagina: 'sobre'}); %>

    <main>
        <div class="jumbotron">
            <h1>Sobre</h1>
            <p>Olá, esta é uma página exemplo.</p>
        </div>
    </main>

    <%- include('../partials/footer'); %>
</body>


</html>